@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    /* Dark Theme Colors */
    --bg: #1a1a1a;
    --bg-card: #2a2a2a;
    --bg-alt: #333333;
    --text-main: #eaeaea;
    --text-muted: #999999;
    --border: #3f3f3f;
    --accent: #4ade80;
    --danger: #ef4444;
    --info: #60a5fa;

    color: var(--text-main);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
